node_modules/
venv/
__pycache__/
*.pyc
db.sqlite3
.DS_Store
*.log
*.env
.idea/
.vscode/
*.iml
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.jar
*.war
*.ear
note.txt
*.md
*.pdf
*.docx
*.backup
# CSS output files
main/static/main/css/output.css

staticfiles/
doc/